
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*c�c xu ly dinh dang html*/
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #444444;
}
/* header */

/* narbar */
.narbar-brand-logo {
    /* width: 80px; */
    height: 50px;
}
/* slider */
/* about */



@media (max-width: 575.98px) { 
  
 }
@media (min-width: 576) and (max-width: 767.98px) { 

 }
@media (min-width: 768px) and (max-width: 991.98px) { 

 }
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }
@media (min-width: 1200px) and (max-width:  1399.98px) { 

 }
@media (min-width: 1400px){ 

 }